@import url(variables.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-gris);
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
}

.wallp {
    position: absolute;
    background: var(--color-negro);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.wallp img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    rotate: (90deg);
}

.menuopen {
    display: none;
}

.menucel {
    display: none;
}

.leftpart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.leftpart h1 {
    color: var(--color-blanco);
    text-shadow: 0 0 10px #fff;
    display: flex;
    flex-wrap: wrap;
    padding-top: .5em;
    padding-left: .5em;
    font-size: 3.5vw;
}

.selector {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    padding-right: 0.15vw;
}

.selector button {
    background-color: rgba(219, 219, 219, 0.471);
    outline: #cccccc solid;
    outline-width: 2px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    height: 2em;
    width: 100%;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.selector button:hover {
    cursor: pointer;
    font-size: 1vw;
    transform: scaleY(1.1);
    box-shadow: 0 0 25px #fff;
}

.selector .jacket, .pants {
    width: 1.3em;
    margin-right: 10px;
}

.selector .carrito {
    margin-top: 5em;
}

.cantidadcarrito {
    color: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-gris);
    width: 2em;
    height: 1.5em;
    margin-left: 20px;
}

.credits {
    color: var(--color-blanco);
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 5em;
}

/* CARDS */

.cardzone {
    flex-wrap: wrap;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 2em;
    padding: 10px;
}

.card {
    background-color: var(--color-grisclaro);
    outline: var(--color-blanco) solid;
    outline-width: 2px;
    width: 250px;
    height: max-content;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: inset 0 0 25px #000;
}

.card .description {
    background-color: var(--color-gris);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    align-items: center;
}

.card .description p {
    font-size: 14px;
    color: var(--color-blanco);
}

.card .description .principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card img {
    max-height: 245px;
    object-fit: contain;
    padding: 5px;
    -webkit-user-drag: none;
}

/* CARDS ACABA */

/* CARRITO */

.carritozone {
    flex-wrap: wrap;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 2em;
    padding: 10px;
}

.carrito {
    display: flex;
    background-color: var(--color-grisclaro);
    outline: var(--color-blanco) solid;
    outline-width: 2px;
    width: 100%;
    height: max-content;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: inset 0 0 25px #000;
}

.carrito img {
    width: 10%;
    max-height: 245px;
    object-fit: contain;
    padding: 3px;
    -webkit-user-drag: none;
}

.carrito .description {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.carrito .description p {
    font-size: 14px;
    color: var(--color-blanco);
}

.carrito .principal,.cantidad,.precio,.subtotal {
    text-align: center;
}

.eliminar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

/* CARRITO ACABA */

/* -----CARRITO OPCIONES----- */

.carritopciones {
    align-items: center;
    width: 100%;
    color: var(--color-blanco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carritopciones .vaciarcarrito {
    color: var(--color-blanco);
    font-size: 15px;
    border: none;
    background-color: var(--color-gris);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 10em;
    height: 3em;
    transition: all 0.5s;
}

.vaciarcarrito:hover {
    color: var(--color-negro);
    cursor: pointer;
    background-color: var(--color-blanco);
}

.carritopciones .totalcarrito {
    color: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 90px;
    width: 200px;
    color: var(--color-blanco);
    background-color: var(--color-gris);
    flex-direction: column;
}

.carritopciones .compra {
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height: 30%;
}
.carritopciones .comprar {
    color: var(--color-blanco);
    background-color: var(--color-grisclaro);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
}

.comprar:hover {
    color: var(--color-negro);
    cursor: pointer;
    background-color: var(--color-blanco);
}

/* -----CARRITO OPCIONES ACABA----- */

.mainpart {
    margin-top: 6em;
    padding: 2em;
    border-radius: 20px;
    outline: var(--color-blanco) solid;
    outline-width: 2px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 85vh;
    gap: 3em;
}

.mainpart h1 {
    color: var(--color-blanco);
    text-shadow: 0 0 10px #fff;
    line-height: 1;
    font-size: 2.5vw;
}

.agregar {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    transition: all 0.3s;
}

.agregar:hover {
    cursor: pointer;
    color: var(--color-blanco);
    background-color: var(--color-grisclaro);
    box-shadow: 0 0 20px #000;
    transition: 0.3s;
}


/* Estamos ubicados en la parte de productos, por lo tanto se mostrará así */

.productos {
    color: var(--color-blanco);
    text-shadow: 0px 0px 5px #000;
}

@media (width<=700px) {
    .selector {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuopen {
        color: var(--color-blanco);
        background: none;
        display: flex;
        border: none;
        font-size: 3em;
        padding-right: 1vw;
    }

    .visible {
        color: var(--color-blanco);
        background-color: #000000b4;
        width: 100%;
        height: 30%;
        top:17vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        font-size: 2vh;
    }
    

    main {
        display: flex;
        flex-direction: column;
    }

    .leftpart {
        height: 5%;
        width: 100vw;
    }
    .leftpart h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .credits {
        display: flex;
        margin-top: 0em;
    }

    .credits p {
        font-size: 15px;
    }

    .mainpart {
        outline: none;
        border: var(--color-blanco) solid;
        border-width: 1px;
        width: 100vw;
        height: 87.5vh;
        display: flex;
        margin-top: 3vh;
        padding: 1em;
        gap: 1em;
    }

    .mainpart h1 {
        padding: 1vw;
        font-size: 20px;
    }

    .cardzone {
        border-radius: 20px;
        padding: 5px;
    }

    .card {
        width: 45%;
        max-height: 45%;
    }

    .card img {
        object-fit: contain;
        max-height: 160px;
        padding: 0px;
    }

    .card .description {
        width: auto;
        height: max-content;
        padding: 0.3em;
    }

    .card .description .principal p, .agregar {
        font-size: 10px;
    }




    .carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-grisclaro);
        outline: var(--color-blanco) solid;
        outline-width: 2px;
        width: 100%;
        height: 20vh;

        border-radius: 10px;
        box-shadow: inset 0 0 25px #000;
    }

    .carrito img {
        width: 25%;
        max-height: 245px;
        object-fit: contain;
        padding: 3px;
        -webkit-user-drag: none;
    }

    .carrito .description {
        padding-top: 1vh;
        width: 80%;
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carrito .description .eliminar {
        color: red;
    }

    .carrito .description p {
        font-size: 1vh;
        color: var(--color-blanco);
    }

    .carrito .principal,.cantidad,.precio,.subtotal {
        text-align: center;
    }

    .vaciarcarrito p, .totalcarrito p{
        font-size: 1.5vh;
    }

}